<<<<<<< HEAD
/* Application-wide styles */

*
{
    font-family: "Arial", sans-serif;
}
html
{
    margin: 0px;
    padding: 0px;
}
body
{
    margin: 0px;
    padding: 25px;
}
h1, h2, h3, h4, h5
{
    margin: 2px 0px 5px 0px;
}
input[type="text"], textarea
{
    width: 98%;
    font-size: 16px;
}
textarea
{
    height: 85px;
}
label
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
button, input[type="submit"]
{
    font-size: 16px;
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #323232;
    cursor: pointer;
}
*[type="submit"]
{
    color: #fff;
    background: limegreen;
}

.block-set > *
{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
.roster
{
    padding: 0px;
}
.roster li
{
    list-style-type: none;
    border: solid 2px #323232;
    border-radius: 5px;
    margin: 7px 0px 7px 0px;
    padding: 5px;
}
=======
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
>>>>>>> a6cc01766f825f7b4e8ada879060060110494ba1
